<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("orders.order_status") %></strong>
  <%= @order.order_status %>
</p>

<p>
  <strong><%= t("orders.payment_method") %></strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong><%= t("orders.shipping_address") %></strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong><%= t("orders.shipping_city") %></strong>
  <%= @order.shipping_city %>
</p>

<p>
  <strong><%= t("orders.customer_name") %></strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong><%= t("orders.customer_lastname") %></strong>
  <%= @order.customer_lastname %>
</p>

<p><b><%= t("products.listing_products") %></b></p>
<table>
<tr>
  <td>Name</td>
  <td>Quantity</td>
  <td>Price</td>
</tr>

<%= render @order.line_items %>

</table>

<%= link_to 'Edit', edit_order_path(id: @order.id) %> |
<%= link_to 'Back', orders_path %>

