<p id="notice"><%= notice %></p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @order.shipping_city %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Customer lastname:</strong>
  <%= @order.customer_lastname %>
</p>

<p>Products</p>
<table>
<tr>
  <td>Name</td>
  <td>Quantity</td>
  <td>Price</td>
</tr>

<%= render @order.line_items %>

</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

